<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo-brand-mmi.svg" alt="" width="170px" height="100">
        </a>
        <button style="outline:none" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-custom">
                <i class="fas fa-bars" style="color:white;border:none;outline:none"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="profile-perusahaan.html">Tentang MMI <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="layanan.html">Layanan</a>
            <a class="nav-item nav-link" href="kontak.html">Kontak</a>
            <a class="nav-item nav-link" href="berita.html">Berita</a>
            <a class="nav-item nav-link" href="loker.html">Loker</a>
            <a class="nav-item nav-link" href="faq.html">FAQ</a>

            <a href="login.html" class="btn px-4 mr-5 text-white ml-5 btn-login mb-md-0 md-sm-3">
                <span><i class="fas fa-sign-in-alt"></i> Login</span>
            </a>
            </div>
        </div>
    </div>
</nav>
<section class="section-jadwal-tes-mmi">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <h2>Jadwal Tes</h2>
            </div>

            <div class="col-md-5">
                <div class="group-calendar d-flex">
                    <button class="btn btn-tes-today px-5 mr-2" style="background: white;border: 1px solid #FF9800;color:#FF9800">
                        Hari Ini
                    </button>
                    <input type="date" name="" class="form-control ">
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card mb-3" style="border-radius: 10px;">
                    <div class="container">
                        <div class="card-header" style="background:white;padding: 30px;">
                            <h3 style="color:#0066B2;font-size: 24px;">REGULAR-TGF-26102020</h3>
                            <div class="tes-time d-flex ">
                                <div class="tanggal-tes mr-3">
                                    <i class="fas fa-calendar-alt"></i> Senin, 26 Oktober 2020
                                </div>

                                <div class="time-tes-sub">
                                    <i class="fas fa-clock"></i> 01:00  WIB
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>Koor</td>
                                                    <td>:</td>
                                                    <td style="font-size: 14px;"> TEGAR ARIF NUGROHO</td>
                                                </tr>
                                                <tr>
                                                    <td>Full Day </td>
                                                    <td>:</td>
                                                    <td> Tidak</td>
                                                </tr>
                                                <tr>
                                                    <td>Durasi</td>
                                                    <td>:</td>
                                                    <td> 0</td>
                                                </tr>
                                                <tr>
                                                    <td>Deskripsi</td>
                                                    <td>:</td>
                                                    <td> -</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                
                                <div class="col-md-6">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table">
                                            <tbody>
                                                <tr>
                                                    <td>Lokasi</td>
                                                    <td>:</td>
                                                    <td>Idem</td>
                                                </tr>
                                                <tr>
                                                    <td>Kota </td>
                                                    <td>:</td>
                                                    <td> Kab.Grobongan</td>
                                                </tr>
                                                <tr>
                                                    <td>Prov</td>
                                                    <td>:</td>
                                                    <td> Jawa Barat</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>:</td>
                                                    <td> Draft</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 "  data-aos="fade-up" data-aos-delay="200">
                <div class="card mb-3" style="border-radius: 10px;">
                    <div class="container">
                        <div class="card-header" style="background:white;padding: 30px;">
                            <h3 style="color:#0066B2;font-size: 24px;">REGULAR-TGF-26102020</h3>
                            <div class="tes-time d-flex">
                                <div class="tanggal-tes mr-3">
                                    <i class="fas fa-calendar-alt"></i> Senin, 26 Oktober 2020
                                </div>

                                <div class="time-tes-sub">
                                    <i class="fas fa-clock"></i> 01:00  WIB
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>Koor</td>
                                                    <td>:</td>
                                                    <td style="font-size: 14px;"> TEGAR ARIF NUGROHO</td>
                                                </tr>
                                                <tr>
                                                    <td>Full Day </td>
                                                    <td>:</td>
                                                    <td> Tidak</td>
                                                </tr>
                                                <tr>
                                                    <td>Durasi</td>
                                                    <td>:</td>
                                                    <td> 0</td>
                                                </tr>
                                                <tr>
                                                    <td>Deskripsi</td>
                                                    <td>:</td>
                                                    <td> -</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                
                                <div class="col-md-6">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table">
                                            <tbody>
                                                <tr>
                                                    <td>Lokasi</td>
                                                    <td>:</td>
                                                    <td>Idem</td>
                                                </tr>
                                                <tr>
                                                    <td>Kota </td>
                                                    <td>:</td>
                                                    <td> Kab.Grobongan</td>
                                                </tr>
                                                <tr>
                                                    <td>Prov</td>
                                                    <td>:</td>
                                                    <td> Jawa Barat</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>:</td>
                                                    <td> Draft</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 "  data-aos="fade-up" data-aos-delay="300">
                <div class="card mb-3" style="border-radius: 10px;">
                    <div class="container">
                        <div class="card-header" style="background:white;padding: 30px;">
                            <h3 style="color:#0066B2;font-size: 24px;">REGULAR-TGF-26102020</h3>
                            <div class="tes-time d-flex">
                                <div class="tanggal-tes mr-3">
                                    <i class="fas fa-calendar-alt"></i> Senin, 26 Oktober 2020
                                </div>

                                <div class="time-tes-sub">
                                    <i class="fas fa-clock"></i> 01:00  WIB
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>Koor</td>
                                                    <td>:</td>
                                                    <td style="font-size: 14px;"> TEGAR ARIF NUGROHO</td>
                                                </tr>
                                                <tr>
                                                    <td>Full Day </td>
                                                    <td>:</td>
                                                    <td> Tidak</td>
                                                </tr>
                                                <tr>
                                                    <td>Durasi</td>
                                                    <td>:</td>
                                                    <td> 0</td>
                                                </tr>
                                                <tr>
                                                    <td>Deskripsi</td>
                                                    <td>:</td>
                                                    <td> -</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                
                                <div class="col-md-6">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table">
                                            <tbody>
                                                <tr>
                                                    <td>Lokasi</td>
                                                    <td>:</td>
                                                    <td>Idem</td>
                                                </tr>
                                                <tr>
                                                    <td>Kota </td>
                                                    <td>:</td>
                                                    <td> Kab.Grobongan</td>
                                                </tr>
                                                <tr>
                                                    <td>Prov</td>
                                                    <td>:</td>
                                                    <td> Jawa Barat</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>:</td>
                                                    <td> Draft</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6"  data-aos="fade-up" data-aos-delay="400">
                <div class="card mb-3" style="border-radius: 10px;">
                    <div class="container">
                        <div class="card-header" style="background:white;padding: 30px;">
                            <h3 style="color:#0066B2;font-size: 24px;">REGULAR-TGF-26102020</h3>
                            <div class="tes-time d-flex">
                                <div class="tanggal-tes mr-3">
                                    <i class="fas fa-calendar-alt"></i> Senin, 26 Oktober 2020
                                </div>

                                <div class="time-tes-sub">
                                    <i class="fas fa-clock"></i> 01:00  WIB
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>Koor</td>
                                                    <td>:</td>
                                                    <td style="font-size: 14px;"> TEGAR ARIF NUGROHO</td>
                                                </tr>
                                                <tr>
                                                    <td>Full Day </td>
                                                    <td>:</td>
                                                    <td> Tidak</td>
                                                </tr>
                                                <tr>
                                                    <td>Durasi</td>
                                                    <td>:</td>
                                                    <td> 0</td>
                                                </tr>
                                                <tr>
                                                    <td>Deskripsi</td>
                                                    <td>:</td>
                                                    <td> -</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                
                                <div class="col-md-6 mb-3">
                                    <div class="left-detail-tes d-flex flex-column" style="line-height: 20px !important;">
                                        <table class="d-table table">
                                            <tbody>
                                                <tr>
                                                    <td>Lokasi</td>
                                                    <td>:</td>
                                                    <td>Idem</td>
                                                </tr>
                                                <tr>
                                                    <td>Kota </td>
                                                    <td>:</td>
                                                    <td> Kab.Grobongan</td>
                                                </tr>
                                                <tr>
                                                    <td>Prov</td>
                                                    <td>:</td>
                                                    <td> Jawa Barat</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>:</td>
                                                    <td> Draft</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-mmi bg-footer-blue " style="margin-top: 100px;">
    <div class="container-fluid p-4  mb-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/logo-brand-mmi.svg" alt="" data-aos="fade-up" data-aos-delay="600">
            </div>
            <div class="col-md-2 d-flex flex-column link-footer" data-aos="fade-up" data-aos-delay="600">
                <a href="" class="nav-link nav-item">Tentang MMI</a>
                <a href="" class="nav-link nav-item">Layanan</a>
                <a href="" class="nav-link nav-item">Kontak</a>
                <a href="" class="nav-link nav-item">Berita</a>
                <a href="" class="nav-link nav-item">FAQ</a>
                <a href="" class="nav-link nav-item">Blog</a>
            </div>

            
            <div class="col-md-2">
                <div class="text-white nav-item nav-link" style="padding: .5rem 1rem;" data-aos="fade-up" data-aos-delay="600">Ikuti Kami</div>
                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-phone"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                </div>

                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="address" style="padding: .5rem 1rem;">
                    <div class="title-address nav-item text-white" data-aos="fade-up" data-aos-delay="600">
                        Alamat
                    </div>

                    <p data-aos="fade-up" data-aos-delay="600" class="mt-3 text-white">Jl. Jendral Sudirman Kav. 2
                        Menara Taspen Lt. 5
                        Jakarta Pusat JK 10220, Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  AOS.init();
</script>

<script>
var windowsize = $(window).width();

$(window).resize(function() {
  windowsize = $(window).width();
  if (windowsize <= 991) {
      $('#col-md-7').addClass('col-md-12');
      $('#col-md-7').removeClass('col-md-7');
  }
  else{  
    $('#col-md-7').removeClass('col-md-12');
    $('#col-md-7').addClass('col-md-7');
  }
});
</script>
</body>
</html>