<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light mb-5" >
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo-brand-mmi.svg" alt="" width="170px" height="100">
        </a>
        <button style="outline:none" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-custom">
                <i class="fas fa-bars" style="color:white;border:none;outline:none"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="profile-perusahaan.html">Tentang MMI <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="layanan.html">Layanan</a>
            <a class="nav-item nav-link" href="kontak.html">Kontak</a>
            <a class="nav-item nav-link" href="berita.html">Berita</a>
            <a class="nav-item nav-link" href="loker.html">Loker</a>
            <a class="nav-item nav-link" href="faq.html">FAQ</a>

            <a href="login.html" class="btn px-4 mr-5 text-white ml-5 btn-login mb-md-0 md-sm-3">
                <span><i class="fas fa-sign-in-alt"></i> Login</span>
            </a>
            </div>
        </div>
    </div>
</nav>
<section class="section-kirim-lamaran">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 90%;" data-aos="fade-up" data-aos-delay="200"> 
                        <div class="card-body">
                            <h3 class="text-center mb-4" data-aos="fade-up" data-aos-delay="300">Formulir Lamaran - Account Officer </h3>
                            <div class="step-form-bar mb-5" style="width: 100%;" data-aos="fade-up" data-aos-delay="350">
                                <div class="d-flex justify-content-center">
                                    <span class="step-circle-1"></span>
                                    <div class="d-flex align-items-center">
                                    <span class="step-strip"></span>
                                    </div>
                                    <span class="step-circle-2" id="step-circle-2"></span>
                                </div>
                            </div>

                            <h4 style="color:#0066B2" class="mb-4 pelamar-step-1" data-aos="fade-up" data-aos-delay="400">Data Pelamar</h4>
                            <h4 style="color:#0066B2;display: none;" class="mb-4 cabang-step-2" data-aos="fade-up" data-aos-delay="400">Cabang yang akan di lamar</h4>
                            
                            <form action="" data-aos="fade-up" data-aos-delay="500">
                                <div class="">
                                    <div class="step-1">
                                        <div class="form-group mb-2">
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <input type="text" name="" class="form-control" placeholder="Nama Lengkap">
                                                </div>
        
                                                <div class="col-md-6">
                                                    <input type="number" name="" class="form-control" placeholder="Nomor KTP">
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" name="" class="form-control" placeholder="Alamat Sesuai KTP  ">   
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" name="" class="form-control" placeholder="Pendidikan Terakhir  ">   
                                        </div>
                                        <div class="form-group mb-2">
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <input type="text" name="" class="form-control" placeholder="Tempat Lahir">
                                                </div>
        
                                                <div class="col-md-6">
                                                    <input type="date" name="" class="form-control">
                                                </div>
                                                
                                            </div>
                                        </div>
        
                                        <div class="form-group mb-4">
                                            <input type="text" name="" class="form-control" placeholder="Jenis Kelamin">
                                        </div>
        
                                        <div class="form-group mb-2">
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <input type="number" name="" class="form-control" placeholder="Nomor Handphone">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="email" name="" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="form-group mb-4">
                                            <select name="" id="" class="form-control">
                                                <option value="">Sumber Informasi Lowwongan</option>
                                                <option value="">Instagram</option>
                                                <option value="">Web MMI</option>
                                                <option value="">Saudara</option>
                                                <option value="">Teman</option>
                                                <option value="">Lain lain</option>
                                            </select>
                                        </div>
        
                                     <button type="button" class="btn btn-block btn-primary" id="selanjutnya">Selanjutnya</button>
                                    </div>

                                        <div class="step-2 mt-5" style="display: none;">
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <div class="col-md-6 mb-1   ">
                                                        <select name="" id="" class="form-control">
                                                            <option value="">Provinsi</option>
                                                        </select>
                                                    </div>
            
                                                    <div class="col-md-6">
                                                        <select name="" id="" class="form-control">
                                                            <option value="">Kota / Kabupaten</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <select name="" id="" class="form-control">
                                                    <option value="">Cabang</option>
                                                </select>
                                            </div>

                                            <div class="d-flex justify-content-center">
                                                
                                            <!-- <button type="button" class="btn btn-info btn-block">Prev</button> -->
                                            <button type="button" class="btn btn-danger  ml-3 btn-prev"><i class="fas fa-angle-double-left"></i>    Prev</button>
                                            <button type="submit" class="btn btn-primary btn-block ml-3">
                                                <i class="fas fa-paper-plane"></i> Kirim Lamaran
                                            </button>
                                            </div>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-mmi bg-footer-blue" style="margin-top: 130px;">
    <div class="container-fluid p-1  mb-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/logo-brand-mmi.svg" alt="" data-aos="fade-up" data-aos-delay="600">
            </div>
            <div class="col-md-2 d-flex flex-column link-footer" data-aos="fade-up" data-aos-delay="600">
                <a href="" class="nav-link nav-item">Tentang MMI</a>
                <a href="" class="nav-link nav-item">Layanan</a>
                <a href="" class="nav-link nav-item">Kontak</a>
                <a href="" class="nav-link nav-item">Berita</a>
                <a href="" class="nav-link nav-item">FAQ</a>
                <a href="" class="nav-link nav-item">Blog</a>
            </div>

            
            <div class="col-md-2">
                <div class="text-white nav-item nav-link" style="padding: .5rem 1rem;" data-aos="fade-up" data-aos-delay="600">Ikuti Kami</div>
                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-phone"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                </div>

                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="address" style="padding: .5rem 1rem;">
                    <div class="title-address nav-item text-white" data-aos="fade-up" data-aos-delay="600">
                        Alamat
                    </div>

                    <p data-aos="fade-up" data-aos-delay="600" class="mt-3 text-white">Jl. Jendral Sudirman Kav. 2
                        Menara Taspen Lt. 5
                        Jakarta Pusat JK 10220, Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  AOS.init();
</script>

<script>
    $(document).ready(function(){
        $('#selanjutnya').click(function(){
            
            $('.step-2').show(500);
            $('.step-1').hide(500);
            $('#step-circle-2').addClass('step-circle-2-js');
            $('.cabang-step-2').show(); 
            $('.pelamar-step-1').hide();
        });

         $('.btn-prev').click(function(){
            $('.step-1').show(500);
            $('.step-2').hide(500);
            $('#step-circle-2').removeClass('step-circle-2-js');
            $('.cabang-step-2').hide(); 
            $('.pelamar-step-1').show();
        });
    });
</script>
</body>
</html>