<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <link rel="stylesheet" href="/assets/owl/css/owl.carousel.min.css">
   <link rel="stylesheet" href="/assets/owl/css/owl.theme.default.min.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo-brand-mmi.svg" alt="" width="170px" height="100">
        </a>
        <button style="outline:none" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-custom">
                <i class="fas fa-bars" style="color:white;border:none;outline:none"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="profile-perusahaan.html">Tentang MMI <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="layanan.html">Layanan</a>
            <a class="nav-item nav-link" href="kontak.html">Kontak</a>
            <a class="nav-item nav-link" href="berita.html">Berita</a>
            <a class="nav-item nav-link" href="loker.html">Loker</a>
            <a class="nav-item nav-link" href="faq.html">FAQ</a>

            <a href="login.html" class="btn px-4 mr-5 text-white ml-5 btn-login mb-md-0 md-sm-3">
                <span><i class="fas fa-sign-in-alt"></i> Login</span>
            </a>
            </div>
        </div>
    </div>
</nav>

<section class="section-layanan">
    <section class="bg-section-layanan">
        <div class="linear">    
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="right-content mr-5 float-md-right float-sm-none " style="width: 35%;">
                            <h1 data-aos="fade-up" data-aos-delay="200" class="text-md-right text-sm-center text-white">
                                Rekrutmen
                            </h1>
                            <p data-aos="fade-up" data-aos-delay="300" class="text-white text-md-right mt-4 text-sm-center">
                                Kami akan membantu di dalam pencarian calon pekerja atau kandidat yang telah disesuaikan dengan requirements, kriteria atau keinginan dari setiap posisi / jabatan tertentu di perusahaan ataupun instansi.
    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <div class="keuntungan ">
        <div class="container">
            <div class="row text-white">
                <div class="col-md-12">
                    <h2 data-aos="fade-up" data-aos-delay="200" class="text-center mt-5">
                        Keuntungan menggunakan jasa kami, antara lain :
                    </h2>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 mb-3">
                    <div class="card" data-aos="fade-up" data-aos-delay="200">
                       <div class="card-body">
                        <div style="color:#f89b2b;font-size:19px;margin-bottom: 10px;"><img src="/images/logo-layanan-done.svg" alt=""> Terjamin</div>
                        <p style="color:#666666">Perusahaan anda akan lebih menghemat waktu dan tenaga</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                       <div class="card-body">
                        <div style="color:#f89b2b;font-size:19px;margin-bottom: 10px;"><img src="/images/logo-layanan-effesien.svg" alt=""> Effesien</div>
                        <p style="color:#666666">Perusahaan anda akan lebih menghemat waktu dan tenaga</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" data-aos="fade-up" data-aos-delay="400">
                       <div class="card-body">
                        <div style="color:#f89b2b;font-size:19px;margin-bottom: 10px;"><img src="/images/logo-layanan-hemat.svg" alt=""> Hemat</div>
                        <p style="color:#666666">Meminimalisir pengeluaran perusahaan anda </p>
                       </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card" data-aos="fade-up" data-aos-delay="450">
                       <div class="card-body">
                        <div style="color:#f89b2b;font-size:19px;margin-bottom: 10px;"><img src="/images/logo-layanan-cepat.svg" alt=""> Cepat</div>
                        <p style="color:#666666">Cepat untuk mendapatkan karyawan yang diinginkan</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" data-aos="fade-up" data-aos-delay="500">
                       <div class="card-body">
                        <div style="color:#f89b2b;font-size:19px;margin-bottom: 10px;"><img src="/images/logo-layanan-masa-percobaan.svg" alt=""> Masa Percobaan</div>
                        <p style="color:#666666">Masa percobaan satu bulan sebelum merekrut</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" data-aos="fade-up" data-aos-delay="550">
                       <div class="card-body">
                        <div style="color:#f89b2b;font-size:19px;margin-bottom: 10px;"><img src="/images/logo-layanan-garansi.svg" alt=""> Garansi</div>
                        <p style="color:#666666">Mempunyai Layanan Garansi Penggantian Karyawan</p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="section-cara-kerja">
       
    <div class="container container-sm">
   
      <div class="row" style="margin-top: 100px;">
          <div class="col-md-12">
              <h1 data-aos="fade-up" data-aos-delay="300" style="color:#0066B2">Cara Kerja Kami</h1>
          </div>
      </div>
        <div class="mt-5 mb-5 loop owl-carousel owl-theme" style="cursor: pointer;" data-aos="fade-up" data-aos-delay="400">
            <div class="item">
                <div class="d-flex justify-content-center">
                    <div class="figure-img-logo">
                        <img src="/images/cara-kerja-logo-page-layanan/form-pemesanan.svg" alt="" width="100">
                    </div>
                </div>

                <div class="title-cara-kerja">
                    <h5 class="text-center mt-4">1. Form pemesanan</h5>
                    <p class="text-center mt-4">Jelaskan Kebutuhan karyawan yang sedang perusahaan anda cari kepada kami</p>
                </div>
            </div>  
            
            <div class="item">
                <div class="d-flex justify-content-center">
                    <div class="figure-img-logo">
                        <img src="/images/cara-kerja-logo-page-layanan/konfirmasi-pemesanan.svg" alt="" width="100">
                    </div>
                </div>

                <div class="title-cara-kerja">
                    <h5 class="text-center mt-4">2. Konfirmasi Pemesanan</h5>
                    <p class="text-center mt-4">Memastikan kebutuhan karyawan sudah benar dan sesuai</p>
                </div>
            </div>

            <div class="item">
                <div class="d-flex justify-content-center">
                    <div class="figure-img-logo">
                        <img src="/images/cara-kerja-logo-page-layanan/proses-pencarian.svg" alt="" width="100">
                    </div>
                </div>

                <div class="title-cara-kerja">
                    <h5 class="text-center mt-4">3. Proses Pencarian CV</h5>
                    <p class="text-center mt-4">HRD Room akan memasang iklan lowongan kerja di berbagai media</p>
                </div>
            </div>

            <div class="item">
                <div class="d-flex justify-content-center">
                    <div class="figure-img-logo">
                        <img src="/images/cara-kerja-logo-page-layanan/bandingkan-kandidat.svg" alt="" width="100">
                    </div>
                </div>

                <div class="title-cara-kerja">
                    <h5 class="text-center mt-4">4. Bandingkan Kandidat</h5>
                    <p class="text-center mt-4">HRD Room akan mengirimkan CV / Resume Kandidat yang telah kami screening sebelumnya </p>
                </div>
            </div>
            <div class="item">
                <div class="d-flex justify-content-center">
                    <div class="figure-img-logo">
                        <img src="/images/cara-kerja-logo-page-layanan/bandingkan-kandidat.svg" alt="" width="100">
                    </div>
                </div>

                <div class="title-cara-kerja">
                    <h5 class="text-center mt-4">4. Bandingkan Kandidat</h5>
                    <p class="text-center mt-4">HRD Room akan mengirimkan CV / Resume Kandidat yang telah kami screening sebelumnya </p>
                </div>
            </div>
            <div class="item">
                <div class="d-flex justify-content-center">
                    <div class="figure-img-logo">
                        <img src="/images/cara-kerja-logo-page-layanan/bandingkan-kandidat.svg" alt="" width="100">
                    </div>
                </div>

                <div class="title-cara-kerja">
                    <h5 class="text-center mt-4">4. Bandingkan Kandidat</h5>
                    <p class="text-center mt-4">HRD Room akan mengirimkan CV / Resume Kandidat yang telah kami screening sebelumnya </p>
                </div>
            </div>

      
            
            
        </div>
        <!-- <div class="loop owl-carousel owl-theme">
            <div class="item" style=>
              <h4>1</h4>
            </div>
            <div class="item" style=>
              <h4>2</h4>
            </div>
            <div class="item" style=>
              <h4>3</h4>
            </div>
            <div class="item" style=>
              <h4>4</h4>
            </div>
            <div class="item" style=>
              <h4>5</h4>
            </div>
            <div class="item" style=>
              <h4>6</h4>
            </div>
            <div class="item" style=>
              <h4>7</h4>
            </div>
            <div class="item" style=>
              <h4>8</h4>
            </div>
            <div class="item" style=>
              <h4>9</h4>
            </div>
            <div class="item" style=>
              <h4>10</h4>
            </div>
            <div class="item" style=>
              <h4>11</h4>
            </div>
            <div class="item" style=>
              <h4>12</h4>
            </div>
          </div> -->
  </div>
</section>
<section class="section-layanan-2">
    <section class="bg-section-layanan-training">
        <div class="linear">    
            <div class="container container-sm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="left-content" style="width: 60%;margin-top: 130px;">
                            <h1 data-aos="fade-up" data-aos-delay="300" class="text-left text-white">
                                Training & Development
                            </h1>
                            <p data-aos="fade-up" data-aos-delay="400" class="text-white text-left mt-4">
                                Layanan jasa pelatihan kami ditujukan untuk meningkatkan pengetahuan dan keterampilan para profesional untuk mendukung karir dan untuk masyarakat pada umumnya. Pelatihan diberikan dengan memadukan teori dan praktek dalam bentuk in-house training di perusahaan / lembaga lain, serta bentuk pelatihan terbuka (public training) untuk umum yang dapat diikuti oleh masyarakat luas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
    <section class="bg-section-layanan-sertifikasi">
        <div class="linear">    
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="right-content float-right" style="width: 45%;margin-top: 130px;">
                            <h1 data-aos="fade-up" data-aos-delay="300" class="text-right text-white">
                                Sertifikasi
                            </h1>
                            <p data-aos="fade-up" data-aos-delay="400" class="text-white text-right mt-4">
                                PT. Micro Madani Institute hadir untuk memberikan layanan Edukasi seputar Standar Kempetensi (SKKNI dan KKNI) dan juga informasi Jadwal Pelatihan / Training Berbasis Kompetensi dengan Sertifikasi Nasional dari BNSP (Badan Nasional Sertfikasi Profesional). Semoga ini dapat bermanfaat bagi siapapun yang membutuhkan Pelatihan Berbasis Kompetensi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="bg-section-layanan-alih-daya">
        <div class="linear">    
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="left-content" style="width: 60%;margin-top: 130px;">
                            <h1 data-aos="fade-up" data-aos-delay="300" class="text-left text-white">
                                Alih Daya
                            </h1>
                            <p data-aos="fade-up" data-aos-delay="400" class="text-white text-left mt-4">
                                Dengan melakukan alihdaya, perusahaan anda dapat fokus pada core-business. Perusahaan akan lebih fokus membuat produk atau jasa berkualitas tinggi yang dapat memuaskan keinginan pasar, daripada menghabiskan sumber daya perusahaan yang terbatas untuk menangani persoalan ketenagakerjaan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
    <section class="bg-section-layanan-coaching">
        <div class="linear">    
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="right-content float-right" style="width: 45%;margin-top: 130px;">
                            <h1 data-aos="fade-up" data-aos-delay="300" class="text-right text-white">
                                Coaching
                            </h1>
                            <p data-aos="fade-up" data-aos-delay="400" class="text-white text-right mt-4">
                                Pelatihan coaching dalam hal ini memiliki pendekatan yang khas. Coaching dipercaya betul bahwa solusi itu sebenarnya ada pada setiap orang. Pasti masing-masing individu sangat berdaya untuk menemukan solusi bagi masalahnya sendiri. Jadi seorang coach tidak akan memberikan suatu pengetahuan tertentu, tetapi dia mengajukan pertanyaan-pertanyaan sehingga coaching menemukan sendiri solusi dari permasalahannya. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="bg-section-layanan-assesment">
        <div class="linear">    
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="left-content" style="width: 60%;margin-top: 130px;">
                            <h1 data-aos="fade-up" data-aos-delay="300" class="text-left text-white">
                                Assesment Center
                            </h1>
                            <p data-aos="fade-up" data-aos-delay="400" class="text-white text-left mt-4">
                                Program Pelatihan Assessment Center ini bertujuan untuk membantu organisasi dalam mengidentifikasi competency dan potensi SDM melalui serangkaian penilaian (assessment) yang dikaitkan dengan persyaratan kompetensi tugas tertentu yang telah ditetapkan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
</section>
<footer class="footer-mmi bg-footer-blue" style="margin-top: 0px;padding-bottom: 70px;">
    <div class="container-fluid p-1  mb-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/logo-brand-mmi.svg" alt="" data-aos="fade-up" data-aos-delay="600">
            </div>
            <div class="col-md-2 d-flex flex-column link-footer" data-aos="fade-up" data-aos-delay="600">
                <a href="" class="nav-link nav-item">Tentang MMI</a>
                <a href="" class="nav-link nav-item">Layanan</a>
                <a href="" class="nav-link nav-item">Kontak</a>
                <a href="" class="nav-link nav-item">Berita</a>
                <a href="" class="nav-link nav-item">FAQ</a>
                <a href="" class="nav-link nav-item">Blog</a>
            </div>

            
            <div class="col-md-2">
                <div class="text-white nav-item nav-link" style="padding: .5rem 1rem;" data-aos="fade-up" data-aos-delay="600">Ikuti Kami</div>
                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-phone"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                </div>

                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="address" style="padding: .5rem 1rem;">
                    <div class="title-address nav-item text-white" data-aos="fade-up" data-aos-delay="600">
                        Alamat
                    </div>

                    <p data-aos="fade-up" data-aos-delay="600" class="mt-3 text-white">Jl. Jendral Sudirman Kav. 2
                        Menara Taspen Lt. 5
                        Jakarta Pusat JK 10220, Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  AOS.init();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
$('.loop').owlCarousel({
    loop: true,
    margin: 20,
    nav: false,
    autoplay: true,
    autoplayTimeout: 3000,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 3
        },
        1000: {
            items: 4
        }
    }
});
</script>
</body>
</html>