<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo-brand-mmi.svg" alt="" width="170px" height="100">
        </a>
        <button style="outline:none" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-custom">
                <i class="fas fa-bars" style="color:white;border:none;outline:none"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="profile-perusahaan.html">Tentang MMI <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="layanan.html">Layanan</a>
            <a class="nav-item nav-link" href="kontak.html">Kontak</a>
            <a class="nav-item nav-link" href="berita.html">Berita</a>
            <a class="nav-item nav-link" href="loker.html">Loker</a>
            <a class="nav-item nav-link" href="faq.html">FAQ</a>

            <a href="login.html" class="btn px-4 mr-5 text-white ml-5 btn-login mb-md-0 md-sm-3">
                <span><i class="fas fa-sign-in-alt"></i> Login</span>
            </a>
            </div>
        </div>
    </div>
</nav>
<section class="section-isi-berita mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="title-berita">
                    <h1 class="w-51" style="font-size: 50px;" >Tingkatkan Kualitas SDM, MMI Gandeng 2 Universitas Besar</h1>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="bg-berita" data-aos="fade-up" data-aos-delay="200"></div>
                <div class="suumber float-right mt-1" style="color:#888888" data-aos="fade-up" data-aos-delay="250">
                    diulas dari <b style="color:#0066B2">wartaekonomi.co.id</b>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="300">
                <p class="text-berita">
                    PT. Micro Madani Institute (MMI) yang merupakan perusahaan afiliasi dari PT Permodalan Nasional Madani (Persero) melakukan penandatanganan Memorandum of Understanding (MoU) dengan Fakultas Psikologi Universitas Negeri Manado, dan program Studi Psikologi Universitas Negeri Manado serta Fakuktas Psikologi Universitas Kristen Tomohon.
                </p>

                <p>
                    Direktur Utama PT MMI, L Dodot Patria Ary menjelaskan, ruang lingkung MoU tersebut meliputi kerja sama pengembangan dan peningkatan SDM termasuk di dalamnya rekrutmen, penelitian bidang SDM serta kerjasama pelatihan SDM.
                </p>
                <p style="font-style: italic;font-weight: 400;">
                    "Dengan dilakukannya penandatanganan MoU ini kami harapkan dapat meningkatkan kualitas serta dapat membangun SDM yang berdaya saing tinggi khususnya yang ada di Universitas Negeri Manado dan Universitas Kristen Tomohon," ujarnya melalui siaran persnya, Senin (4/10/2019).
                </p>

                <p>
                    Lanjutnya, dalam kesempatan tersebut MMI juga mengadakan kuliah umum bagi mahasiswa dan civitas academika kedua Perguruan Tinggi tersebut tentang Leadership 4.0.
                </p>
                <p style="font-style: italic;font-weight: 400;">
                    "Selain itu, kami juga melakukan workshop yang berjudul HR Recruitmen - Extra Guidance yang diikuti oleh 41 orang peserta diantara dosen, mahasiswa psikologi Universitas Negeri Manado, Universitas Kristen Tomohon dan peserta umum dengan trainer oleh Mangata Learning Center yang merupakan branding training provider PT. MMI," jelas Dodot.
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col" data-aos="fade-up" data-aos-delay="400">
                <div class="created-by" style="color:#888888">
                    <p>Penulis : Penulis: Redaksi WE Online</p>
                    <p>Editor: Vicky Fadil</p>
                    <p>Foto: Dok. MMI</p>
                </div>
            </div>
        </div>

    </div>
</section>
<footer class="footer-mmi bg-footer-blue " style="margin-top: 100px;">
    <div class="container-fluid p-1  mb-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/logo-brand-mmi.svg" alt="" data-aos="fade-up" data-aos-delay="600">
            </div>
            <div class="col-md-2 d-flex flex-column link-footer" data-aos="fade-up" data-aos-delay="600">
                <a href="" class="nav-link nav-item">Tentang MMI</a>
                <a href="" class="nav-link nav-item">Layanan</a>
                <a href="" class="nav-link nav-item">Kontak</a>
                <a href="" class="nav-link nav-item">Berita</a>
                <a href="" class="nav-link nav-item">FAQ</a>
                <a href="" class="nav-link nav-item">Blog</a>
            </div>

            
            <div class="col-md-2">
                <div class="text-white nav-item nav-link" style="padding: .5rem 1rem;" data-aos="fade-up" data-aos-delay="600">Ikuti Kami</div>
                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-phone"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                </div>

                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="address" style="padding: .5rem 1rem;">
                    <div class="title-address nav-item text-white" data-aos="fade-up" data-aos-delay="600">
                        Alamat
                    </div>

                    <p data-aos="fade-up" data-aos-delay="600" class="mt-3 text-white">Jl. Jendral Sudirman Kav. 2
                        Menara Taspen Lt. 5
                        Jakarta Pusat JK 10220, Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  AOS.init();
</script>
</body>
</html>