<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo-brand-mmi.svg" alt="" width="170px" height="100">
        </a>
        <button style="outline:none" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-custom">
                <i class="fas fa-bars" style="color:white;border:none;outline:none"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="profile-perusahaan.html">Tentang MMI <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="layanan.html">Layanan</a>
            <a class="nav-item nav-link" href="kontak.html">Kontak</a>
            <a class="nav-item nav-link" href="berita.html">Berita</a>
            <a class="nav-item nav-link" href="loker.html">Loker</a>
            <a class="nav-item nav-link" href="faq.html">FAQ</a>

            <a href="login.html" class="text-center d-flex align-items-center btn px-4 mr-5 text-white ml-5 btn-login mb-md-0 md-sm-3">
                <span><i class="fas fa-sign-in-alt"></i> Login</span>
            </a>
            </div>
        </div>
    </div>
</nav>

<section class="section-loker mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 data-aos="fade-up" data-aos-delay="100" style="color:#333333">Ayo Bergabung Bersama Kami ! </h2>
            </div>
            <div class="col-md-4">
                <a href="jadwal.html" data-aos="fade-up" data-aos-delay="200" class="h5 float-md-right float-sm-left btn btn-warning text-white" style="background: #F7941D !important;border: none;">
                    <i class="fas fa-calendar-alt"></i> Jadwal Tes</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 mb-3">
                <div class="card card-loker-custom" style="padding: 0 !important;" data-aos="fade-up" data-aos-delay="300">
                    <img class="img-loker img-fluid" src="/images/bg-loker-1.svg"></img>
                        <div class="card-body">
                            <div class="text-sub-loker">
                                <h6 style="font-size:24px">Account Officer</h6>
                            </div>
                            <div class="group-button-loker mt-5">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <a href="#" class="btn btn-login-custom-job-detail px-5" data-toggle="modal"
                                        data-target="#modalJobDetail">
                                           <i class="fas fa-briefcase"></i> Job Detail
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="kirim-lamaran.html" class="btn btn-login-custom-sent-lamaran px-5">
                                          <i class="fas fa-paper-plane"></i>  Kirim Lamaran
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>    
            
            <div class="col-md-6">
                <div class="card card-loker-custom mb-3" style="padding: 0 !important;" data-aos="fade-up" data-aos-delay="400">
                    <img class="img-loker img-fluid" src="/images/bg-loker-2.svg"></img>
                        <div class="card-body">
                            <div class="text-sub-loker">
                                <h6 style="font-size:24px">Finance Administraion Officer</h6>
                            </div>

                            <div class="group-button-loker mt-5">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <a href="" class="btn btn-login-custom-job-detail px-5" data-toggle="modal"
                                        data-target="#modalJobDetail">
                                           <i class="fas fa-briefcase"></i> Job Detail
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="kirim-lamaran.html" class="btn btn-login-custom-sent-lamaran px-5">
                                          <i class="fas fa-paper-plane"></i>  Kirim Lamaran
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- Modal -->
<div class="modal fade" id="modalJobDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding: 10px !important;">
            <!-- <h5 class="modal-title" id="exampleModalLongTitle">Job Detail</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"> <i class="fas fa-times"></i> </span>
            </button>
            </div>
                <div class="modal-body">
                    <div class="container">
                        <h3>Account Officer</h3>
                        <div class="tugas-detail mt-3">
                            <h5>Tugas Utama</h5>
                            <ol>
                                <li>Melakukan sosialisai,identifikasi dan wawancara calon nasabah</li>
                                <li>Melakukan uji keyakan calon nasabah</li>
                                <li>Melakukan persiapan pembiayaan</li>
                                <li>Melaksanakan pertemuan kelompok mingguan</li>
                            </ol>
                        </div>
                        <div class="kualifikasi mt-3">
                            <h5>Kualifikasi</h5>
                            <ol>
                                <li>Perempuan</li>
                                <li>Lulusan SMA/SMK/MA/Paket C semua jurusan</li>
                                <li>Belum menikah</li>
                                <li>Usia maksimal 23 tahun</li>
                                <li>Memiliki E-KTP / KTP Sementara</li>
                                <li>Mampu mengendarai motor</li>
                                <li>Diutamakan mempunyai SIM C</li>
                            </ol>
                        </div>

                        <div class="fasilitas mt-3 mb-3">
                            <h5>Fasilitas & Benefit</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="benefit-fasilitas d-flex flex-column pl-4">
                                        <span> <i class="fas fa-check-square"></i> Gaji awal di atas UMK, THR</span>
                                        <span> <i class="fas fa-check-square"></i> Kendaraan operasional</span>
                                        <span> <i class="fas fa-check-square"></i> BPJS Kesehatan & BPJS Ketenaga Kerjaan</span>
                                        <span> <i class="fas fa-check-square"></i> Mess + Sembako </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="benefit-fasilitas d-flex flex-column pl-4">
                                        <span> <i class="fas fa-check-square"></i> Jenjang karir yang pasti</span>
                                        <span> <i class="fas fa-check-square"></i> Pelatihan dan pengembangan</span>
                                        <span> <i class="fas fa-check-square"></i> Penempatan sesuai domisili</span>
                                        <span> <i class="fas fa-check-square"></i> Asuransi jiwa </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</section>

<footer class="footer-mmi bg-footer-blue " style="margin-top: 100px;">
    <div class="container-fluid p-4  mb-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/logo-brand-mmi.svg" alt="" data-aos="fade-up" data-aos-delay="600">
            </div>
            <div class="col-md-2 d-flex flex-column link-footer" data-aos="fade-up" data-aos-delay="600">
                <a href="" class="nav-link nav-item">Tentang MMI</a>
                <a href="" class="nav-link nav-item">Layanan</a>
                <a href="" class="nav-link nav-item">Kontak</a>
                <a href="" class="nav-link nav-item">Berita</a>
                <a href="" class="nav-link nav-item">FAQ</a>
                <a href="" class="nav-link nav-item">Blog</a>
            </div>

            
            <div class="col-md-2">
                <div class="text-white nav-item nav-link" style="padding: .5rem 1rem;" data-aos="fade-up" data-aos-delay="600">Ikuti Kami</div>
                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-phone"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                </div>

                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="address" style="padding: .5rem 1rem;">
                    <div class="title-address nav-item text-white" data-aos="fade-up" data-aos-delay="600">
                        Alamat
                    </div>

                    <p data-aos="fade-up" data-aos-delay="600" class="mt-3 text-white">Jl. Jendral Sudirman Kav. 2
                        Menara Taspen Lt. 5
                        Jakarta Pusat JK 10220, Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  AOS.init();
</script>
<script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
<script>
var windowsize = $(window).width();

$(window).resize(function() {
  windowsize = $(window).width();
  if (windowsize <= 991) {
      $('#col-md-7').addClass('col-md-12');
      $('#col-md-7').removeClass('col-md-7');
  }
  else{  
    $('#col-md-7').removeClass('col-md-12');
    $('#col-md-7').addClass('col-md-7');
  }
});
</script>
</body>
</html>