<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo-brand-mmi.svg" alt="" width="170px" height="100">
        </a>
        <button style="outline:none" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-custom">
                <i class="fas fa-bars" style="color:white;border:none;outline:none"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="profile-perusahaan.html">Tentang MMI <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="layanan.html">Layanan</a>
            <a class="nav-item nav-link" href="kontak.html">Kontak</a>
            <a class="nav-item nav-link" href="berita.html">Berita</a>
            <a class="nav-item nav-link" href="loker.html">Loker</a>
            <a class="nav-item nav-link" href="faq.html">FAQ</a>

            <a href="login.html" class="btn px-4 mr-5 text-white ml-5 btn-login mb-md-0 md-sm-3">
                <span><i class="fas fa-sign-in-alt"></i> Login</span>
            </a>
            </div>
        </div>
    </div>
</nav>




<section class="section-profile-perusahaan mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 big-text">
                <h1 data-aos="fade-up" data-aos-delay="100">Profil<br>
                    Perusahaan</h1>
                    <hr / data-aos="fade-up" data-aos-delay="200">
                    
            </div>

            <div class="col-md-6 mb-5 play-image d-flex justify-content-center align-items-center">
                <div data-aos="fade-up" data-aos-delay="250" class="play-image" style="margin-top: -60px;cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter">
                    <img src="/images/play-image.svg" alt="" class="" width="90">
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id="cartoonVideo" class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/ObdZte_GlII" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-profile-2 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div data-aos="fade-up" data-aos-delay="200" class="card" style="box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.05); border: none;
                "><div class="container">
                    
                    <div class="card-body">
                        <img src="/images/mmi-logo-profile-perusahaan.svg" alt="" class="d-block">
                        <h3 class="mt-3" style="color:#0066B2;font-size: 20px;">Micro Madani Institute</h3>
                        <p style="width: 90%;">
                            Adalah perusahaan afiliasi dari PT. PNM (Persero) yang bergerak dalam bidang Pelatihan, Sertifikasi, Rekrutmen dan Pengelolaan SDM.
                        </p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div data-aos="fade-up" data-aos-delay="300" class="card" style="box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.05); border: none;
                ">
                   <div class="container">
                    <div class="card-body">
                        <img src="/images/pnm-logo-profile-perusahaan.svg" alt="" class="d-block">
                        
                        <h3 class="mt-3" style="color:#0066B2;font-size: 20px;">Permodalan Nasional Madani</h3>
                        <p style="width: 90%;">
                            Badan Usaha Milik Negara (BUMN) yang bergerak di bidang jasa keuangan dan bertujuan membantu pengembangan UMKM & Koperasi.
                        </p>
                    </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top: 200px;">
               <div class="content-wrapper">
                <h2 data-aos="fade-up" data-aos-delay="200">Prolog</h2>
                <hr data-aos="fade-up" data-aos-delay="250"><br><br>
                <p data-aos="fade-up" data-aos-delay="300">Merupakan perusahaan yang bergerak di bidang pengembangan Sumber Daya Manusia yang berkomitmen untuk membantu pelanggan kami dalam mengelola sumber daya manusia yang mereka miliki secara optimal. Sumber Daya Manusia memiliki peran penting dalam menyukseskan pencapaian tujuan organisasi. Oleh karena itu perusahaan secara konsisten memperhatikan efektivitas sumber daya manusia yang mereka miliki. Apabila suatu organisasi benar-benar memperhatikan sumber daya manusianya, maka semua dasar, budaya organisasi, dan langkah strategis ditujukan untuk mewujudkan tujuan perusahaan.</p>
               </div>
            </div>
        </div>
    </div>
</section>

<section class="section-profile-3 mt-5">
    <div class="container">
        <div class="row text-white">
            <div class="col-md-6 mb-3">
                <h3 data-aos="fade-up" data-aos-delay="200">
                    Visi
                </h3>
                <hr data-aos="fade-up" data-aos-delay="250"><br><br>
                <p data-aos="fade-up" data-aos-delay="300">
                    Menjadi perusahaan yang profesional di bidang pendidikan dan pelatihan serta jasa pengelolaan dan pengembangan sumber daya manusia di berbagai sektor industri.
                </p>
            </div>
            <div class="col-md-6 mb-3">
                <h3 data-aos="fade-up" data-aos-delay="200">
                    Misi
                </h3>
                
                <hr data-aos="fade-up" data-aos-delay="250"><br><br>
                <p data-aos="fade-up" data-aos-delay="300">
                    Membangun dan mengembangkan pusat pendidikan dan pelatihan di bidang Micro Finance yang dapat menghasilkan sumber daya manusia yang handal, profesional dan berintegritas 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-profile-4 mt-5 mb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1 data-aos="fade-up" data-aos-delay="300" class="text-center" style="color:#0066B2">Budaya Perusahaan</h1>
                <hr data-aos="fade-up" data-aos-delay="400" style="width: 7%;
                display: block;
                border:2px solid #0066B2;">
            </div>
        </div>

        <div class="row mt-5 ilmu-padi">
            <div class="col-md-6">
                <div class="img-center-mobile">
                    <img src="/images/ilmu padi.svg" alt="" class="float-right mr-5" width="150" data-aos="fade-up" data-aos-delay="400">

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" data-aos="fade-up" data-aos-delay="450">
                        <h1 style="color: #F7941D;">ILMU</h1>
                        <p style="font-size: 20px;color: #666666;font-weight: 500;">Integritas, Loyalitas, Mandiri, Unggul</p>
                   
                    </div>
                    <div class="col-md-12" data-aos="fade-up" data-aos-delay="500">
                        <h1 style="color: #F7941D;">PADI</h1>
                        <p style="font-size: 20px;color: #666666;font-weight: 500;">Profesional, Amanah, Disiplin, Ikhlas</p>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-profile-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="color:#0066B2"data-aos="fade-up" data-aos-delay="200" >Jajaran Direktur</h1>
                <hr data-aos="fade-up" data-aos-delay="200" style="    width: 7%;
                display: block;
                border:2px solid #0066B2;">
            </div>
      </div>

    <div class="row mt-5">
        <div class="col-md-4 mb-5">
            
            <div data-aos="fade-up" data-aos-delay="400" class="card" style="border: none;margin-top: 100px;border-radius: 16px;">
                <div class="card-body" >
                    <div class="container">
                        <div class="figure-img d-flex justify-content-center" style="margin-top: -140px;">
                            <img src="/images/dirbis.svg" class="ry-cert" />
                        </div>
                        
                        <h6 class="mt-3 text-center">Widiawan Ari Sarwanto</h6>
                        <div class="text-center" style="color:#888888;font-size: 14px;">Direktur Bisnis</div>
                        <div class="d-flex ml-3 justify-content-center mt-4 social-media" style="">
                            <div>
                                
                            <span><a href=""><i class="fab fa-instagram"></i></a></span>
                            <span><a href=""><i class="fab fa-facebook-square"></i></a></span>
                            <span><a href=""><i class="fab fa-linkedin"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-md-4 mb-5">
            
            <div data-aos="fade-up" data-aos-delay="500" class="card" style="border: none;margin-top: 100px;border-radius: 16px;">
                <div class="card-body">
                    <div class="container">
                        <div class="figure-img d-flex justify-content-center" style="margin-top: -140px;">
                            <img src="/images/dirut.svg" class="ry-cert" />
                        </div>
                        
                        <h6 class="mt-3 text-center">Lalu Dodot Patria Ary Suprianto</h6>
                        <div class="text-center" style="color:#888888;font-size: 14px;">Direktur Utama</div>
                        <div class="d-flex ml-3 justify-content-center mt-4 social-media" style="">
                            <div>
                                
                            <span><a href=""><i class="fab fa-instagram"></i></a></span>
                            <span><a href=""><i class="fab fa-facebook-square"></i></a></span>
                            <span><a href=""><i class="fab fa-linkedin"></i></a></span>
                            </div>
                        </div>
                        <hr / style=" width: 15%;
                        display: block;
                        border:2px solid #0066B2;">
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-4">
            
            <div data-aos="fade-up" data-aos-delay="600" class="card" style="border: none;margin-top: 100px;border-radius: 16px;">
                <div class="card-body">
                    <div class="container">
                        <div class="figure-img d-flex justify-content-center" style="margin-top: -140px;">
                            <img src="/images/dirkeu.svg" class="ry-cert" />
                        </div>
                        
                        <h6 class="mt-3 text-center">Mariatin Sri Widowati</h6>
                        <div class="text-center" style="color:#888888;font-size: 14px;">Direktur Keuangan</div>
                        <div class="d-flex ml-3 justify-content-center mt-4 social-media" style="">
                            <div>
                                
                            <span><a href=""><i class="fab fa-instagram"></i></a></span>
                            <span><a href=""><i class="fab fa-facebook-square"></i></a></span>
                            <span><a href=""><i class="fab fa-linkedin"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<section class="section-profile-6" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <h1 class="big-text-profile-6" style="font-size: 64px;color:#0066B2">Perjalanan<br>
                    Kami</h1>
                    <hr style="    width: 10%;
                    display: block;
                    border:2px solid #0066B2;float:left">
            </div>
            <div class="col-md-6 slide">  
                <div data-aos="fade-up" data-aos-delay="650" id="multi-item-example" class="carousel slide carousel-multi-item mt-5" data-ride="carousel">
                    <!--Indicators-->
                    <ul style="list-style-type: none;">
                        
                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example" data-slide-to="1"></li>
                    
                    </ul>
                    <!--/.Indicators-->

                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active ">
                        <div class="range mt-5">
                            <div class="d-flex align-items-center" style="position: relative;top:-16px">
                            <div class="range-th" style="width: 1%;"></div>
                                <div class="th">
                                    2015
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 70px;">
                            <div class="col-md-8">
                                <div class="text-slide">
                                    <p>
                                        <li>Didirikan sebagai salah satu afiliasi perusahaan dari PT. PNM (Persero) melalui PNM VC dan PT. Mitra Utama Madani.</li>
                                    </p>
                                <p>
                                    <li>Awal dibentuk perusahaan ini sebagai Penyelenggaraan Pelatihan, Pendidikan dan Pengembangan Karyawan PT. PNM (Persero) & & Group.
                                    </li>
                                </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!--/.Second slide-->
                    <div class="carousel-item">
                        <div class="range mt-5">
                            <div class="d-flex align-items-center" style="position: relative;top:-16px">
                            <div class="range-th" style="width: 15%;"></div>
                                <div class="th">
                                    2016
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 70px;">
                            <div class="col-md-8">
                                <div class="text-slide">
                                    <p> <li>PT. MMI diamanahkan oleh PT. PNM (Persero) untuk mengelola dan merekrut karyawan AO dan FAO PNM Mekaar.</li> </p>
                                <p>
                                    <li>
                                        PT. MMI membentuk Lembaga Sertifikasi Profesi P2 untuk skema bidang Microfinance oleh BNSP</li>
                                </p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="carousel-item">
                        <div class="range mt-5">
                            <div class="d-flex align-items-center" style="position: relative;top:-16px">
                            <div class="range-th" style="width: 30%;"></div>
                                <div class="th">
                                    2017
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 70px;">
                            <div class="col-md-8">
                                <div class="text-slide">
                                    <p> <li>Mengembangkan Teknologi HR Integrasi dalam organisasi yang dapat mendukung tumbuhnya bisnis perusahaan.</li> </p>
                                <p>
                                    <li>
                                        Pengembangan Teknologi Informasi dan pemanfaatannya dalam menunjang pekerjaan Perusahaan.</li>
                                </p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="carousel-item">
                        <div class="range mt-5">
                            <div class="d-flex align-items-center" style="position: relative;top:-16px">
                            <div class="range-th" style="width: 60%;"></div>
                                <div class="th">
                                    2018
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 70px;">
                            <div class="col-md-8">
                                <div class="text-slide">
                                    <p> <li>Jumlah kelolaan kami dengan jumlah 27.699 SDM tersebar di seluruh Indonesia.</li> </p>
                                <p>
                                    <li>
                                        Memiliki jaringan SDM Rekrutmen yang tersebar di seluruh jaringan bisnis PT. PNM (Persero).
                                    </li>
                                </p>
                                <p>
                                    <li>
                                        Telah terjalin Kerjasama dengan sekolah pemerintah dan swasta dan berbagai Instansi / lembaga baik pemerintah maupun swasta.
                                    </li>
                                </p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    

                    <div class="carousel-item">
                        <div class="range mt-5">
                            <div class="d-flex align-items-center" style="position: relative;top:-16px">
                            <div class="range-th" style="width: 80%;"></div>
                                <div class="th">
                                    2019
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 70px;">
                            <div class="col-md-8">
                                <div class="text-slide">
                                    <p> <li>Melakukan pelatihan eksternal dan perluasan bisnis perusahaan.</li> </p>
                                <p>
                                    <li>
                                        Peningkatan kompetensi pengelolaan SDM Alihdaya.</li>
                                </p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    </div>
                    <!--/.Slides-->
                        <!--Controls-->
                <div class="controls-bottom mt-5">
                    <a class="btn-prev" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-next" href="#multi-item-example" data-slide="next"><i
                    class="fas fa-chevron-right"></i></a>
                </div>
                            <!--/.Controls-->

                </div>
            </div>
        </div>
    </div>
</section>



<footer class="footer-mmi bg-footer-blue" style="margin-top: 130px;padding-bottom: 70px;padding-top: 20px;">
    <div class="container-fluid p-1  mb-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/logo-brand-mmi.svg" alt="" data-aos="fade-up" data-aos-delay="600">
            </div>
            <div class="col-md-2 d-flex flex-column link-footer" data-aos="fade-up" data-aos-delay="600">
                <a href="" class="nav-link nav-item">Tentang MMI</a>
                <a href="" class="nav-link nav-item">Layanan</a>
                <a href="" class="nav-link nav-item">Kontak</a>
                <a href="" class="nav-link nav-item">Berita</a>
                <a href="" class="nav-link nav-item">FAQ</a>
                <a href="" class="nav-link nav-item">Blog</a>
            </div>

            
            <div class="col-md-2">
                <div class="text-white nav-item nav-link" style="padding: .5rem 1rem;" data-aos="fade-up" data-aos-delay="600">Ikuti Kami</div>
                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-phone"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                </div>

                <div class="fonts-group d-flex" data-aos="fade-up" data-aos-delay="600">
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="nav-link nav-item">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="address" style="padding: .5rem 1rem;">
                    <div class="title-address nav-item text-white" data-aos="fade-up" data-aos-delay="600">
                        Alamat
                    </div>

                    <p data-aos="fade-up" data-aos-delay="600" class="mt-3 text-white">Jl. Jendral Sudirman Kav. 2
                        Menara Taspen Lt. 5
                        Jakarta Pusat JK 10220, Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  AOS.init();
</script>
<script src="	https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>

</body>
</html>